.ContactUsHeader {
  padding-top: 40px;
  padding-bottom: 40px;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
}
.ContactUsRow {
  display: flex;
  justify-content: center;
}
.ContactUsNameInput {
  margin-right: 4%;
}
.ContactUsSend {
  text-transform: uppercase;
  height: 43px !important;
  width: 100px;
  background-color: #7796a8 !important;
  font-weight: bold !important;
  border-color: #7796a8 !important;
  color: white !important;
}
.ContactUsSend:hover {
  opacity: 0.6;
  background-color: #7796a8;
  border-color: #7796a8 !important;
  transform: translateY(-0.25rem) scale(1.03);
}
.ContactUsSend:focus {
  opacity: 0.6;
  background-color: #7796a8;
  border-color: #7796a8 !important;
}
.ContactUsLabel {
  color: red;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .ContactUsNameInput {
    margin-right: 0px;
  }
}
